.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  align-items: start;
}

.footer-texto {
  font-size: 1.62rem;
  line-height: 1.5;
  color: #B3B3B3;
}

.footer-contato h3 {
  font-size: 1.62rem;
  line-height: 1.5;
  color: #B3B3B3;
  margin-top: 0; 
}

.footer-contato {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.125rem;
  color: #999999;
}

.footer-redes ul {
  display: flex;
  margin-top: 20px;
}

.footer-redes li {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #ffffff;
  margin: 0 15px;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #999999;
}

.emoji {
  margin-right: 20px;
}

.footer-redes a {
  text-decoration: none;
}

@media (max-width: 940px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }
  .footer-redes li {
    font-size: 1.5rem;
  }
}